hello!

{{ $css := resources.Match `@milkdown/crepe/lib/theme/common/**` }}
{{ range $css }}
    <link href="{{ .RelPermalink }}" rel="stylesheet" />
{{ end }}

{{ $css := resources.Get `@milkdown/crepe/lib/theme/crepe/style.css` }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" />

{{ $css := resources.Get `@milkdown/crepe/lib/theme/frame-dark/style.css` }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" />

<div id="editor"></div>

{{ $js := resources.Get `/ts/index.ts` }}
{{ $opts := dict `target` `es2016`  `minify` true  `sourcemap` `external`  `splitting` true  `targetPath` `/js/index.mjs` }}
{{ $js = $js | js.Build $opts | fingerprint }}
<script src="{{ $js.RelPermalink }}" type="module"></script>